button.btnConsult
  +Roboto(medium)
  font-size: 1rem
  border: 2px solid $yellowDark
  color: $yellowDark
  border-radius: 5px
  padding: 15px 25px 15px
  background: transparent
  text-transform: uppercase
  &:hover
    background-color: $yellowDark
    color: $white
  &.-center
    position: relative
    left: 50%
    transform: translateX(-50%)
  @include w1023
    padding: 10px 15px
  @include w767
    padding: 8px 10px
    font-size: 0.9375rem