.consultForm
  width: 100%
  padding: 30px 15px
  border: 1px solid $greyLight
  box-shadow: 0px 2px 5px 0px rgba($black, 0.2)
  margin-bottom: 15px
  &__title
    font-size: 1.125rem
    color: $black
    +Roboto(bold)
    margin-bottom: 5px
    &Sub
      color: $black
      margin-bottom: 20px
  & input
    width: 100%
    border: 1px solid $greyLight
    height: 2.875rem
    padding: 0 10px
    font-size: 1rem
    color: $black
    margin-bottom: 15px
  & .btnConsult
    margin-top: 10px
    min-width: 182px