.swiper  
  &-container
    position: relative
    overflow-x: hidden
  &-wrapper
    display: flex
  &-pagination
    position: absolute
    bottom: 12px
    left: 50%
    transform: translateX(-50%)
    align-items: center
    display: flex
    &-bullet
      cursor: pointer
      margin-right: 10px
      background-color: $greyLight
      width: 10px
      height: 10px
      display: block
      border-radius: 50%
      &:last-child
        margin-right: 0
      &-active
        height: 15px
        width: 15px
        background-color: $yellow
.slider
  & > .-noVisible
    visibility: hidden
  &__innerbox
    max-width: 1200px
    width: 100%
    position: relative
    overflow-y: hidden
    & > .btnConsult
      position: absolute
      right: 95px
      bottom: 50px
      @include w1023
        right: 50%
        bottom: 35%
        transform: translate(50%, 50%)
      @include w767
        bottom: 40%
      @include w479
        bottom: 55%
        right: 25%
        transform: translate(15%, 50%)
  &__text
    position: absolute
    top: 50px
    right: 95px
    & *
      color: $mBlue
    @include w1023
      top: 20%
      right: 50%
      transform: translate(50%, -50%)
      width: 100%
      text-align: center
    @include w479
      display: none
  &__desc
    font-family: 'RobotoRegular'
  