.specialist
  display: flex
  padding-bottom: 3.75rem
  & .title-bg
    text-align: left !important
  &__leftbox
    max-width: 265px
    width: 100%
    margin-right: 20px
    & > .btnConsult
      width: 100%
  &__photo
    width: auto
    max-height: 100%
    min-height: 100%
    &box
      max-width: 265px
      width: 100%
      height: 292px
      margin-bottom: 15px
  &__schedule
    margin-top: 35px
    padding-left: 15px
    & > .title-bg
      margin-bottom: 15px
    &List
      text-align: left
    &Item
      color: $mBlue
      margin-bottom: 10px
  &__rightbox
    margin-top: -9px
    text-align: left
    line-height: 1.5
  &__title
    color: $mBlue
    +Roboto(bold)
    font-size: 1.25rem
    margin-bottom: 3px
    margin-top: 30px
    &:first-child
      margin-top: 0
    &Sub
      text-transform: uppercase
      font-size: 0.875rem !important
      margin-bottom: 20px
  &__text
    +Roboto(light)
  & .galery
    text-align: center
    margin-top: 55px
    margin-bottom: 60px
    overflow-x: hidden
    &__list
      display: flex
      flex-wrap: wrap
      margin-left: -5px
      height: 204px
      overflow: hidden
    &__item
      margin-bottom: 5px
      margin-left: 5px
      width: 204px
      height: 204px
      overflow: hidden
    &__photo
      min-width: 100%
      min-height: 100%
    &MoreBtn
      margin: 25px auto 0
      color: $yellowDark
      text-decoration: underline
      text-transform: uppercase
      display: block
      cursor: pointer
      background-color: transparent
      border: none
      font-size: 1rem