@import './common/_const.sass'
@import './_header.sass'
@import './_footer.sass'

.title

h1.-lg
h2.-bg
h3.-md


html
    font: 16px 'RobotoRegular'
    min-width: 320px
    width: 100%
    height: auto


body
    position: relative
    min-width: 320px
    width: 100%
    min-height: 100vh
    height: auto
    display: flex
    flex-direction: column
    line-height: 1
    margin: 0 auto