@import './common/_const.sass'
@import './elements/**/*.sass'

*
    box-sizing: border-box

h1, h2, h3, p, ul, li, nav, section, a
    margin: 0
    padding: 0

h1
    +Roboto(bold)
    font-size: 1.875rem
    color: $black
    &.title-lg
        text-align: center
h2
    +Roboto(bold)
    font-size: 1.625rem
    color: $black
    &.title-bg
        margin-bottom: 2.188rem
        text-align: center
h3
    +Roboto(bold)
    font-size: 1.25rem
    color: $black
    &.title-md
        text-align: center

html
    font: 16px 'RobotoRegular'
    min-width: 320px
    width: 100%
    height: auto
    color: $mGrey


body
    position: relative
    min-width: 320px
    width: 100%
    min-height: 100vh
    height: auto
    display: flex
    flex-direction: column
    line-height: 1.2
    margin: 0 auto
    overflow-x: hidden

a
    text-decoration: none
    color: #000000

img
    max-width: 100%
    width: 100%

li
    list-style-type: none

section
    margin-bottom: 3.75rem
    &:last-child
        margin-bottom: 0

button
    outline: none
    cursor: pointer

.container
    max-width: 1120px
    width: 100%
    margin: 0 auto
    flex: 1

.swiper-button-next,
.swiper-button-prev
    width: 25px
    height: 35px
    position: absolute
    cursor: pointer