block footer
    footer.footer
        .footer__case
            .footer__contacts
                .footer__address
                    p г. Краснодар, ул. Кожевенная, 117
                    p тел. +7(861) 205-66-45
                    p e-mail: info@orto23.ru
                .social
                    a(href="#").social__link
                        img(src="assets/img/social/vk.png", alt="")
                    a(href="#").social__link
                        img(src="assets/img/social/inst.png", alt="")
                    a(href="#").social__link
                        img(src="assets/img/social/fb.png", alt="")
            ul.footer__aboutUs
                li.footer__aboutUsItem
                    p.footer__aboutUsTitle График работы
                    p с 9:00 до 20:00,
                    p Воскресенье выходной
                li.footer__aboutUsItem
                    p.footer__aboutUsTitle Реквизиты
                    p ООО "МедТех"
                    p ИНН 1238987989 ОГРН 187923490823
                    p Лицензия: НК 9012837879897
                li.copyright © Cpyright 2010-2016
            .footer__visa
                p Мы принимаем
                img(src="assets/img/visa.png", alt="")
            .footer__blaze
                h1.title-lg BLAZE.SU
                span разработка и продвижение