block header
    header.header
        .container
            a(href="/").logo
                img.logo__img(src="assets/img/logo.png", alt="logo")
            nav.header__nav
                a(href="/services.html").header__navLink Услуги
                a(href="#").header__navLink Акции
                a(href="/price-list.html").header__navLink Прайс
                a(href="#").header__navLink О центре
                a(href="#").header__navLink Контакты
            .header__contacts
                .header__address г. Краснодар, ул. Кожевенная, 117
                h2.phone 8 (928) 433-44-45
                a(href="#").header__call Заказать звонок