mixin svgMix(svgClass, name)
	svg(class=svgClass)
		use(xlink:href='assets/img/sprite.svg#'+name)

mixin _btnConsult(text)
	button.btnConsult=text

mixin subHeader(text)
	.subHeader
		h2.subHeader__title= text