block slider
  .swiper-wrapper
    .slider__innerbox.swiper-slide
      img(src="assets/img/slider/home1.png", alt="")
      .slider__text
          h1.slider__title Гладкие ноги без раздражения
          h3.slider__desc Фотоэпиляция на профессиональном  оборудовании
      +_btnConsult("Получить консультацию", false, true)
    .slider__innerbox.swiper-slide
      img(src="assets/img/slider/home2.png", alt="")
      .slider__text
        h1.slider__title Гладкие ноги без раздражения
        h3.slider__desc Фотоэпиляция на профессиональном  оборудовании
      +_btnConsult("Получить консультацию", false, true)
    .slider__innerbox.swiper-slide
      img(src="assets/img/slider/home3.png", alt="")
      .slider__text
        h1.slider__title Гладкие ноги без раздражения
        h3.slider__desc Фотоэпиляция на профессиональном  оборудовании
      +_btnConsult("Получить консультацию", false, true)
  <div class="swiper-pagination"></div>
