.someService
  display: flex
  justify-content: space-between
  flex-direction: row-reverse
  @include w1023
    flex-wrap: wrap
    width: 100%
  & .title-bg
    @include w1023
      text-align: center !important
  & > .mainContent
    & > button
      margin-bottom: 3.75rem
      @include w1023
        margin-bottom: 1.75rem
    & > .btnConsult
      min-width: 275px
    & .title-bg
      text-align: left
  &__description
    margin-top: -10px
    @include w479
      text-align: center
    & > ul
      margin-bottom: 10px
      & > li
        line-height: 1.2
        padding-left: 30px
        margin-bottom: 10px
        position: relative
        &:before
          position: absolute
          content: "–"
          display: block
          top: 0
          left: 8px
    & > h3
      color: $mBlue
      margin-bottom: 10px
      margin-top: 25px
    & > h4
      margin: 20px 0 10px
      font-size: 1.063em
    & > p
      line-height: 1.5
      margin-bottom: 10px
        
  & .banner__title
    left: 225px
  & .banner__titleSub
    left: 225px
    max-width: 435px
  &__priceTable
    margin-bottom: 2.5rem
    & > .title-bg
      margin-bottom: 2.5rem
      @include w1023
        margin-bottom: 1.5rem
  &__FAQ
    &Item
      overflow: hidden
      & > .someService__FAQQuestion
        border: 1px solid $mGrey
        border-top: none
      &:first-child
        & > .someService__FAQQuestion
          border-top: 1px solid $mGrey
      &.-active
        & > .someService__FAQQuestion
          &:before
            transform: translateY(-50%) rotate(270deg)
        & > .someService__FAQAnswer
          height: auto
          padding: 25px
          padding: 10px
    &Question
      padding: 12px 20px 12px 90px
      color: $mBlue
      +Roboto(bold)
      font-size: 1.25rem
      position: relative
      cursor: pointer
      &:before
        display: block
        content: '›'
        position: absolute
        top: 50%
        transform: translateY(-50%) rotate(90deg)
        left: 32px
        font-size: 35px
        height: 34px
        padding-bottom: 20px
        @include w767
          left: 15px
      @include w767
        padding: 12px 10px 12px 40px
        font-size: 1rem
    &Answer
      height: 0
      padding: 0 25px
      background-color: $mBlue
      color: $white
      @include w767
        padding: 0 10px
      & > p
        line-height: 1.5
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0
  &__result
    & > .title-bg
      @include w1023
        text-align: center !important
    &Image
      min-width: 100%
      max-height: 100%
      height: auto
      width: auto
      @include w1023
        vertical-align: middle
      &Box
        max-width: 645px
        width: 100%
        max-height: 410px
        height: auto
        overflow: hidden
        border: 1px solid $greyLight
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.2)
        @include w1023
          margin: auto
  & .specialists
    width: 100%
    overflow: hidden
    float: left
    & > .title-bg
      @include w1023
        text-align: center
    &__list
      margin-left: -25px !important
      max-width: 100% !important
      margin-bottom: 0 !important
      @include w1023
        margin-left: 0 !important
    &__item
      margin-bottom: 40px !important
      @include w1023
        margin: auto
        max-width: 260px